<!-- ----------------account page------------------ -->
        <div class="account-page">
            <div class="container">
                <div class="row">
                    {{!-- <div class="col_2">

                        <img src="images/login.jpg" width="100%">
                    </div> --}}

                    <div class="col_2">
                        <div class="form-container" id="formcontainer">
                             {{!-- <form action="/signup" method="post"></form> --}}
                             {{#if reset}}
                                <form id="LoginForm2" action="/user/reset-password" method="post">
                                    <label for="">Reset Password</label>
                                    <label id="lbloginfail2" style="color: red;" >{{ErrorMessage2}}</label>
                                    
                                    <input type="password" placeholder="New password" name="password" id="password" >
                                    <input type="password" placeholder="Confirm password" name="confirmpassword" id="confirmpassword" >
                                    <input type="hidden" name="email" value="{{email}}" id="">
                                    <button type="submit" class="btn-sendlink" onclick="setck()">Reset Password</button>
                                    
                                    {{!-- <div   id='labelUserReg'>Forgot Password</div> --}}
                                    {{!-- <a href="" onclick="register()">New User Register.</a> --}}
                                    
                                    {{!-- <span onclick="register()">New User Register</span> --}}
                                </form>
                             {{else}}
                                <form id="LoginForm2" action="/user/forgot-password" method="post">
                                    
                                    <label id="lbloginfail" style="color: red;" >{{ErrorMessage}}</label>
                                    <input type="email" placeholder="Enter Your Email" name="email" id="email" value={{useremail}}>
                                    <button type="submit" class="btn-sendlink" onclick="setck()">Send Reset Link</button>
                                    
                                    {{!-- <div   id='labelUserReg'>Forgot Password</div> --}}
                                    {{!-- <a href="" onclick="register()">New User Register.</a> --}}
                                    
                                    {{!-- <span onclick="register()">New User Register</span> --}}
                                </form>
                            {{/if}}
                                {{!-- action="/register" --}}
                        </div>
                   
                   
                    </div>
                    
                </div>
            </div>
        </div>
<!-- ----------------Js for toggle from------------- -->

   